body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  padding: 50px;
}

.clickable {
  color: blue;
}
.clickable:hover {
  text-decoration: underline;
  cursor: crosshair;
  color: limegreen;
}
p {
  text-align: center;
}
.jumbotron {
  border: solid black 2px;
  background-color: yellow;
  display: none;
  padding-bottom: 70px;
}
img {
  max-height: 190px;
  max-width: 190px;
}
