h1 {
  color: #b8babc;
  text-align: center;
  padding: 50px;
  text-decoration: underline;
}

h4 {
  color: #b8babc;
}

p {
  text-align: center;
}

img {
  max-height: 190px;
  max-width: 190px;
}

.clickable {
  color: blue;
  background-color: lightgreen;
}

.clickable:hover {
  text-decoration: underline;
  cursor: crosshair;
  color: limegreen;
}

.jumbotron {
  border: solid black 2px;
  background-color: yellow;
  display: none;
  padding-bottom: 70px;
}

.white-background {
  background-color: white;
  color: black;
}

.black-background {
  background-color: black;

}

#black {
  background-color: black;
  color: white;
}

.red-background {
  background-color: red;
  color: green;
}
